.logo-container {
  min-width: 600px;
  display: inline;
}

.logo-title {
  font-size: 58px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: -6px;
  width: 450px;
  line-height: 40px;
  transform: scaleY(1.2);
  word-spacing: .15em;
  color: #BA2121;
}

.logo-sub {
  font-size: 20px;
  letter-spacing: 7px;
  padding-left: 205px;
}

.tab-title{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  color: white;
}

.nav-tabs .nav-link {
  background-color: transparent !important;
  color: #FFFFFF !important;
  border: none !important;
}

.nav-tabs .nav-link.active {
  border-bottom: solid 4px white !important;
}

.vertical {
  display: flex;
  writing-mode: vertical-lr; /* Vertical text orientation */
}

.vertical-letter {
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  writing-mode: horizontal-tb;
  text-align: center;
}

.vertical-line {
  width: 10px; /* Adjust the width as needed */
  height: 100vh; /* Make the line span the full height of the container */
  background-color: white; /* Change the color as needed */
  margin: 0 30px; /* Adjust the margin to control the space between the line and text */
}
