/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body, html {
  overflow: hidden;
  height: 100%; /*prevents entire viewport from scrolling */
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 62px;
  line-height: 10px;
  letter-spacing: -5px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 48px;
  letter-spacing: -5px;
}

p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: -2px;
}

.page{
  border: 1px white solid;
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.title-container{
  display: block;
}

.page-title{
  font-size: 138px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: -13px;
  transform: scaleY(1.3);
  word-spacing: .15em;
  line-height: 20px;
  margin-top: 60px;
}

.sub-title{
  font-size: 48px;
  letter-spacing: 17px;
  padding-left: 680px;
}
