body, html {
  overflow: hidden;
  height: 100%; /*prevents entire viewport from scrolling */
}

html {
  scroll-behavior: smooth;
}

.page{
  border: 1px white solid;
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.page-title{
  font-size: 138px;
}

/* Smooth scrolling
.scroll-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scroll-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
}*/
